:root {
    --color-negro: #160d18;
  }

  :root {
    --color-azul-oscuro: #0e0433;
  }

  :root {
    --color-azul: #09456c;
  }

  :root {
    --color-azul-verdoso: #026f6e;
  }

  :root {
    --color-verde-claro: #28d7d1;
  }

  :root {
    --color-hueso: #e1e1e1;
  }

  :root {
    --color-hueso-translucido: #e1e1e195;
  }

  @font-face {
    font-family: 'BebasNeue';
    src: url('../letras/ChakraPetch-Regular.ttf') format('truetype');
  }

body{
    font-family: 'BebasNeue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-azul-oscuro);
    color: var(--color-hueso) ;
    text-align: center;

}


.nombre,
.presentacion2 {
    margin-top: 0;
    margin-bottom: 0;
}

.presentacion{
    color: var(--color-verde-claro);
    margin-top: 70px;
    margin-bottom: 0;
}

.nombre{
    color: var(--color-hueso);
}

.presentacion2{
    color: var(--color-hueso-translucido);
}

.conteiner-resumen {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 30px;
}

.resumen {
    max-width: 60%;
}

.descarga-cv {
    background-color: transparent;
    border: 1px solid var(--color-verde-claro);
    color: var(--color-hueso);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.descarga-cv:hover {
    background-color: var(--color-azul-verdoso);
    color: var(--color-hueso);
}

.icono{
  display: inline;
  margin: 80px;
  opacity: 0.5;
}

.icono img {
  width: 100px;
  height: auto;
}

.contenedor1-iconos{
  margin-bottom: 50px;
}

.contenedor-iconos{
margin-top: 50px;
margin-bottom: 70px;
}

.titulos{
  margin-top: 80px;
  font-size: 40px;
}

.proyectos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.proyectos2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.proyecto{
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  background: var(--color-azul-oscuro);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.card-body {
  background-color: #150e2c94;
  color: var(--color-hueso);
  border-radius: 8px;
  height: 300px;
}

.card-title {
  color: var(--color-verde-claro);
  padding-bottom: 10px;
}

.icono-footer{
  padding-right: 100px;
  padding-left: 100px;
  opacity: 0.7;
  text-decoration: none;
  color: inherit;
}

form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin-bottom: 20px;
  
}

.formulario{
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  background-color: transparent;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--color-verde-claro);
  border-radius: 5px;
  color: var(--color-hueso);
}

.boton-enviar {
  background-color: transparent;
  border: 1px solid var(--color-verde-claro);
  color: var(--color-hueso);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.boton-enviar:hover {
  background-color: var(--color-azul-verdoso);
  color: var(--color-hueso);
}

.contenedor-footer{
  background-color: var(--color-negro);
  padding-top:20px;
  padding-bottom:20px;
}

footer{
  margin-top: auto;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 1314px) {

  .proyectos2 {
    display: block;
  }
  .proyectos{
    margin-top: 0px;
  }
  .proyecto{
    margin-top: 30px;
  }
}