{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{% static 'imagenes/Portafolio.png' %}" type="image/png">

    <title>Portafolio Santiago Varela</title>
</head>

<body>
    <div class="conteiner-titulo">
        <p class="presentacion">Hola, mi nombre es</p>
        <h1 class="nombre">Santiago Varela</h1>
        <h2 class="presentacion2">y este es mi Portafolio</h2>
    </div>

    <div class="conteiner-resumen">
        <p class="resumen">Tengo 22 a&ntildeos, y Adem&aacute;s de encantarme la <w class="presentacion">m&uacute;sica
            </w> y
            trabajar en la producci&oacute;n de artistas, disfruto mucho de la <w class="presentacion">
                programaci&oacute;n</w> y de resolver problemas.
            Actualmente, estoy cursando mis &uacute;ltimas materias en la Universidad ORT en la carrera de <w
                class="presentacion">Analista de
                Sistemas</w> y deseo poner en pr&aacute;ctica todo lo aprendido en estos &uacute;ltimos a&ntilde;os.
        </p>
    </div>
    <a class="descarga-cv" href="{% static 'cv/CV Santiago Varela.pdf' %}" download="CV Santiago Varela.pdf">Descargar
        CV!!</a>

    <h2 class="titulos">Tecnologias</h2>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/imagenes/react.png" class="w-33 icono" alt="React">
                <div class="carousel-caption d-none d-md-block">
                    <h5>React</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/imagenes/css.png" class=" w-33 icono" alt="Css">
                <div class="carousel-caption d-none d-md-block">
                    <h5>CSS</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/imagenes/html.png" class="w-33 icono" alt="HTML">
                <div class="carousel-caption d-none d-md-block">
                    <h5>HTML</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/imagenes/node.png" class="w-33 icono" alt="Node">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Node</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/imagenes/sql.png" class="w-33 icono" alt="SQL">
                <div class="carousel-caption d-none d-md-block">
                    <h5>SQL</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/imagenes/java.png" class=" w-33 icono" alt="Java">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Java</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/imagenes/python.png" class="w-33 icono" alt="Python">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Python</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/imagenes/javascrip.png" class="w-33 icono" alt="JavaScript">
                <div class="carousel-caption d-none d-md-block">
                    <h5>JavaScript</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <h2 class="titulos">Proyectos</h2>

    <div class="proyectos">
        <div class="proyecto">
            <div class="card" style="width: 18rem;">
                <img src="../static/imagenes/control_gastos.jpg" class="card-img-top" alt="Control de Gastos">
                <div class="card-body">
                    <h5 class="card-title">Control de Gastos</h5>
                    <p class="card-text">Es una aplicacion web que se encarga de controlar nuestros gastos y guardarlos
                        en el local Storage, esta hecho con React js.</p>
                    <a href="https://control-gastos-santiago-varela.netlify.app/" class="boton-enviar"
                        target="_blank">Ver Proyecto</a>
                </div>
            </div>
        </div>

        <div class="proyecto">
            <div class="card" style="width: 18rem;">
                <img src="../static/imagenes/mixtureria.jpg" class="card-img-top" alt="La Mixtureria">
                <div class="card-body">
                    <h5 class="card-title">La Mixtureria</h5>
                    <p class="card-text">Proyecto realizado en la facultad, una pequeña carta de bar donde se pueden ver
                        tragos, comidas, sucursales, y ademas hacer reservas. Hecho con React, Express, Axios y Mongo.
                    </p>
                    <a href="https://github.com/danimousee/TP2-Grupo1-Bar" class="boton-enviar" target="_blank">Ver
                        Proyecto</a>
                </div>
            </div>
        </div>

        <div class="proyecto">
            <div class="card" style="width: 18rem;">
                <img src="../static/imagenes/veterinaria.jpg" class="card-img-top" alt="Veterinaria">
                <div class="card-body">
                    <h5 class="card-title">Veterinaria</h5>
                    <p class="card-text">Una pequeña web donde se puede hacer el seguimineto de mascotas enfermas.</p>
                    <a href="https://citas-mascotas-santiago-varela.netlify.app/" class="boton-enviar"
                        target="_blank">Ver Proyecto</a>
                </div>
            </div>
        </div>

        <div class="proyecto">
            <div class="card" style="width: 18rem;">
                <img src="../static/imagenes/reconocimiento_facial.jpg" class="card-img-top"
                    alt="Reconocimiento Facial">
                <div class="card-body">
                    <h5 class="card-title">Reconocimiento Facial</h5>
                    <p class="card-text">Un video demostrativo subido a mi Linkedin de un proyecto de reconocimiento
                        facial hecho con Python.</p>
                    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7120186898580410368/"
                        class="boton-enviar" target="_blank">Ver Proyecto</a>
                </div>
            </div>
        </div>
    </div>

    </div>


    <div class="formulario">
        <form method="POST" action="">
            <h5>Dejame tu contacto !!</h5>

            {% csrf_token %}
            {{ form }}

            <button class="boton-enviar" type="submit">Enviar</button>
        </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
<footer>

    <div class="contenedor-footer">

        <a href="mailto:santiago.varela@hotmail.com" class="icono-footer" target="_blank">
            <img src="../static/imagenes/email.png" alt="Email" title="Email">
        </a>

        <a href="https://github.com/SantiagoVarela2001" class="icono-footer" target="_blank">
            <img src="../static/imagenes/github.png" alt="GitHub" title="GitHub">
        </a>

        <a href="https://www.linkedin.com/in/santiago-valentin-varela/" class="icono-footer" target="_blank">
            <img src="../static/imagenes/linkedin.png" alt="Linkedin" title="Linkedin">
        </a>

    </div>

</footer>

</html>